<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Exclusão de Nota de Projeto
                    <div class="pull-right">
                        <a class="btn btn-default " ng-href="#/projeto/{{projectNote.project_id}}/notas">Voltar</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    <p>Deseja realmente excluir essa Nota?</p>
                    <ul>
                        <li><strong>Título: </strong>{{projectNote.title}}</li>
                        <li><strong>Nota: </strong>{{projectNote.note}}</li>
                    </ul>

                    <button type="button" class="btn btn-danger" ng-click="remove()">Excluir</button>

                </div>
            </div>
        </div>
    </div>
</div>