<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Lista de Clientes
                    <div class="pull-right">
                        <a class="btn btn-default " ng-href="#/clientes/dashboard">Dashboard</a>
                        <a class="btn btn-default " ng-href="#/clientes/novo">Novo</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Responsável</th>
                                <th>E-mail</th>
                                <th>Telefone</th>
                                <th>Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr dir-paginate="o in clients | itemsPerPage: clientsPerPage" total-items="totalClients" current-page="pagination.current">
                                <td>{{o.name}}</td>
                                <td>{{o.responsible}}</td>
                                <td>{{o.email}}</td>
                                <td>{{o.phone}}</td>
                                <td>
                                    <a ng-href="#/cliente/{{o.id}}/editar">Editar</a> |
                                    <a ng-href="#/cliente/{{o.id}}/excluir">Excluir</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>